<section class="section">
  <div class="container">
    <h1 class="title has-text-left is-2">Contact</h1>
    <h2 class="subtitle has-text-left is-6">
      お問い合わせ内容に関しては回答はしません。
    </h2>
    <%= form_for @contact, :url => contact_confirm_path do |f| %>
    <div class="control form-area column is-half">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <%= f.text_field :name, class: "input", :placeholder =>"Text input" %>
        </div>
        <% @contact.errors.full_messages_for(:name).each do |message| %>
        <p class="help is-danger"><%= message %></p>
        <% end %>
      </div>
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <%= f.text_field :username, class: "input is-success", :placeholder =>"XXX" %>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
        <% @contact.errors.full_messages_for(:username).each do |message| %>
        <p class="help is-danger"><%= message %></p>
        <% end %>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <%= f.text_field :email, class: "input is-danger", :placeholder => "hello@" %>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
        <% @contact.errors.full_messages_for(:email).each do |message| %>
        <p class="help is-danger"><%= message %></p>
        <% end %>
      </div>
      <div class="field">
        <label class="label">Subject</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <%= f.text_area :message, class: "textarea", :placeholder => "Textarea" %>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <%# <button class="button is-link">Submit</button> %>
          <%= f.submit 'Submit', class: 'button is-link' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</section>
